.card {
    margin-top: 20px;
    width: 100%;
}

.container {
    margin-top: 30px;
}

.map-row {
    margin-top: 30px;
}

.map-img {
    width: 75%;
}

.add-shop-button {
    margin: 0 auto;
}

.shops-table {
    width: 50%;
}

.edit-shop-column {
    width: 30px;
}

.edit-shop-button {
    float: right;
}

.table-cell {
    vertical-align: middle !important;
}

.add-shopping-button {
    margin-left: 8px;
}

.edit-shopping-button {
    float: right;
}
